{% extends "teacherIndex.html" %}
{% block content %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js">
    </script>
</head>

<body>
    <div>
        <div style="position: relative;top:140px;background-color: white;">
            <canvas id="No_of_students" width="auto" height="auto"></canvas>
        </div>
        <br><br>
        <hr>
        <div style="position: relative;top:240px;background-color: white;">
            <canvas id="Exam_timeline" width="auto" height="auto"></canvas>
        </div>
        <br><br>
        <hr>
        <div style="position: relative;top:340px;background-color: white;">
            <canvas id="Assignment_timeline" width="auto" height="auto"></canvas>
        </div>
        <br><br>
        <hr>
        <div style="position: relative;top:440px;background-color: white;">
            <canvas id="Avg_exam_marks" width="autp" height="auto"></canvas>
        </div>
    </div>

    <script type="text/javascript">
        var colorArray = ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850",
            '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
            '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
            '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

        var ctx3 = document.getElementById("Assignment_timeline")
        var date_labels = JSON.parse("{{assignment_time|escapejs}}");
        var marks_data = JSON.parse("{{assignment_labels|escapejs}}");
        var myChart = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: date_labels,
                datasets: [
                    {
                        label: "Presence of Assignment",
                        data: marks_data,
                        backgroundColor: colorArray[0],
                        fill: false
                    }
                ]
            },

            options: {
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date Time'
                        },
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],

                },
                title: {
                    fontSize: 24,
                    display: true,
                    text: 'Assignment Distribution'
                }
            }
        });

        var ctx = document.getElementById("Exam_timeline")
        var date_labels = JSON.parse("{{exam_time|escapejs}}");
        var marks_data = JSON.parse("{{exam_labels|escapejs}}");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: date_labels,
                datasets: [
                    {
                        label: "Presence of Exam",
                        data: marks_data,
                        backgroundColor: colorArray[0],
                        fill: false
                    }
                ]
            },

            options: {
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date Time'
                        },
                        type: 'time',
                        time: {
                            unit: 'month'
                        }
                    }],

                },
                title: {
                    fontSize: 24,
                    display: true,
                    text: 'Exam Distribution'
                }
            }
        });

        var course_labels = JSON.parse("{{exam_name | escapejs}}");
        var course_marks = JSON.parse("{{exam_percentage|escapejs}}");

        var ctx2 = document.getElementById("Avg_exam_marks");
        var myChart = new Chart(ctx2, {
            type: 'horizontalBar',
            data: {
                labels: course_labels,
                datasets: [
                    {
                        label: "Marks",
                        backgroundColor: colorArray.slice(0, course_labels.length),
                        data: course_marks
                    }
                ]
            },
            options: {
                legend: {display: false},
                title: {
                    fontSize: 24,
                    display: true,
                    text: 'Average Percentage in Exams'
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Percentage'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Exam Name'
                        }
                    }]
                }
            }
        });



        var ctx4 = document.getElementById("No_of_students");
        var KG_marks = JSON.parse("{{student_count|escapejs}}");
        console.log(KG_marks);
        var myChart = new Chart(ctx4, {
            type: 'doughnut',
            data: {
                labels: ["Student", "Teacher"],
                datasets: [
                    {
                        label: "User Count",
                        data: KG_marks,
                        backgroundColor: ["#3e95cd", "#8e5ea2"],
                    }
                ]
            },

            options: {
                title: {
                    fontSize: 24,
                    display: true,
                    text: 'User Count'
                }
            }
        });


    </script>
</body>
{% endblock %}