{% extends "teacherIndex.html" %}
{% load static %}
{% block content %}
<div class="intro-section" id="home-section">

    <div class="slide-1" style="background-image: url('../static/images/hero_1.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center" style="justify-content: space-around;">
                <div style="text-align: center;" data-aos="fade-up" data-aos-delay="500">
                    <form action="/gradeSubmission/{{ submission.0}}" method="post" class="form-box">{% csrf_token %}
                        <table style="text-align: left; margin-bottom: 5px;">
                            <tr>
                                <th>Assignment Title</th>
                                <th>{{ submission.6 }}</th>
                            </tr>
                            <tr>
                                <th>Student Name</th>
                                <th>{{ submission.1 }}</th>
                            </tr>
                            {% for file in files %}
                            <tr>
                                <td>Uploaded file</a></td>
                                <td><a href="{{ file.0 }}">{{file.1}}</a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Last Modified</td>
                                <td>{{submission.3}}</td>
                            </tr>
                            <tr>
                                <td>Due Date</td>
                                <td>{{ submission.4 }}</td>
                            </tr>
                            {% if submission.4 >= submission.3 %}
                            <tr>
                                <td bgcolor="#adff2f">Submission On Time</td>
                                <td>{{ submission.5 }} Early</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td bgcolor="#ff4500">Submission Delayed by</td>
                                <td>{{ submission.5 }} Late</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>Marks</td>
                                <td><input type="text" name="marks"></td>
                            </tr>
                            <tr>
                                <td>Out of</td>
                                <td>{{ submission.7 }}</td>
                            </tr>
                            <tr>
                                <td>Feedback (Comments)</td>
                                <td><input type="text" name="feedback"></td>
                            </tr>

                        </table>
                        <div class="form-group" style="align-items: center;">
                            <input type="submit" class="btn btn-primary btn-pill" value="Apply Changes">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}