{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>EDEZE </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner" style="background: WHITE">

      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="site-logo mr-auto w-25" style="text-align: center;">
          <a href="/">
            <span style="color: BLACK"> EDEZE </span>
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-auto">
            <li>
              <a href="/" class="nav-link">
                <span style="color: BLACK">Home</span>
              </a>
            </li>
            <li>
              <a href="/demo/" class="nav-link">
                <span style="color: BLACK">Demo</span>
              </a>
            </li>
            <li>
              <a href="/aboutus/" class="nav-link">
                <span style="color: BLACK">About Us</span>
              </a>
            </li>
          </ul>
          <div class="ml-auto w-25">
            <ul class="navbar-nav ml-auto">
              <li class="cta"><a href="/login/" class="nav-link"><span>Log in</span></a></li>
            </ul>
          </div>
        </div>
      </nav>


    </header>
    {% block content %}
    <div class="intro-section" id="home-section">

    </div>

    {% endblock %}




  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>