{% extends 'teacherIndex.html' %}
{% block content %}
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>

  var cnt = 0;
  function getcount() {
    cnt++;
    return cnt;
  }

</script>
<style>
  div.answer-descriptive * {
    color: BLACK;
  }
</style>
<!--countdown function is called when page is loaded -->
<div class="site-section" style="position: relative;top: 40px;height: 200px;color: #fff;">
  <div class="text-center" data-aos="fade-up">
    <h2>Grade the Exam</h2>
  </div>
</div>
<div class="site-wrap">
  <div class="intro-section" id="home-section">
    <div data-stellar-background-ratio="0.5" style="background-color: #17a2b8;">
      <div class="container">
        <form action="/gradeManual/{{ exam_id }}-{{ student_id }}" method="post" class="form-box">{% csrf_token %}
          <div style="display:flex;flex-direction:column;align-items:center;">
            {% for q in questions %}
            <div class="col-lg-12 form-box">
              <div class="form-control" id="'ques_no'+{{ q.0 }}">.&nbsp;{{ q.1 }}</div>
              <script type="text/javascript">
                var c = getcount();
                var qele = document.getElementById("'ques_no'+{{ q.0 }}");
                qele.innerText = c + qele.innerText;
              </script>
              {% if q.4 == 'Short Answer' or q.4 == 'Descriptive Answer' %}

              <div class="answer-descriptive" id="'ans_'+{{ q.0 }}" style="color:#000;">
                Student's answer : {{ q.3|safe}}
              </div>
              {% else %}
              <div>Student's answer : {{ q.3|safe|escape }}</div>
              {% endif %}
              <div>Actual Answer: {{ q.2 }}</div>
              Obtained Marks: (out of {{q.5}})<input type="text" name="marks_{{ q.6 }}" class="form-control"
                value="{{ q.7 }}">
              Feedback:<textarea name="feedback_{{ q.6 }}" placeholder="enter feedback"
                class="form-control">{{ q.8 }}</textarea>

            </div>

            {% endfor %}
            <div>
              <input type="submit" class="btn btn-primary btn-pill" value="Submit Grades">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}