{% extends 'teacherIndex.html' %}
{% block content %}
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script>

  var cnt = 0;
  function getcount() {
    cnt++;
    return cnt;
  }

</script>
<style>
  div.answer-descriptive * {
    color: BLACK;
  }
</style>
<!--countdown function is called when page is loaded -->
<div class="site-section" style="position: relative;top: 40px;height: 200px;color: #fff;">
  <div class="col-lg-7 text-center" data-aos="fade-up">
    <h2>Grade the Exam</h2>
  </div>
</div>
<div class="site-wrap">
  <div class="intro-section" id="home-section">
    <div data-stellar-background-ratio="0.5">
      <div class="container">
        <form action="/gradeManual/{{ exam_id }}-{{ student_id }}" method="post" class="form-box">{% csrf_token %}
          <div class="row align-items-center">
            {% for q in questions %}
            <div class="col-lg-12 form-box">
              <div class="form-control" id="'ques_no'+{{ q.0 }}">.&nbsp;{{ q.1 }}</div>
              <script type="text/javascript">
                var c = getcount();
                var qele = document.getElementById("'ques_no'+{{ q.0 }}");
                qele.innerText = c + qele.innerText;
              </script>
              <div class="form-control">Marks: {{ q.5}}</div>
              {% if q.4 == 'Short Answer' or q.4 == 'Descriptive Answer' %}
              Student's answer : <div class="answer-descriptive" id="'ans_'+{{ q.0 }}" style="color:#000;">{{ q.3 |safe
                | escape}}</div>
              {% else %}
              Student's answer : <div>{{ q.3|safe|escape }}</div>
              {% endif %}
              <div>Actual Answer: {{ q.2 }}</div>
              Obtained Marks:<input type="text" name="marks_{{ q.6 }}" class="form-control" value="{{ q.7 }}">
              Feedback:<textarea name="feedback_{{ q.6 }}" placeholder="enter feedback"
                class="form-control">{{ q.8 }}</textarea>
              {# q.id,q.question,q.answer,qs.answer,q.type,q.marks,qs.id q->actual,qs->student#}
            </div>
            {% endfor %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-pill" value="Submit Grades">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}