{% extends "studentIndex.html" %}
{% block content %}



<div class="site-section courses-title" id="courses-section" style="position: relative;top: 40px;height: 1000px;">
  <div class="container">
    <div class="row mb-5 align-items-center justify-content-center">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
        <div class="form-box">
          <table style="text-align: left; margin-bottom: 5px;">
            <tr>
              <th>Exam: </th>
              <th style="padding-left: 10px;">{{ exam.0 }}</th>
            </tr>
            <tr>
              <th>Course Name: </th>
              <th style="padding-left: 10px;">{{ exam.1 }}</th>
            </tr>
            <tr>
              <td>No. of Questions: </td>
              <td style="padding-left: 10px;">{{exam.3}}</td>
            </tr>
            <tr>
              <td>Total Marks: </td>
              <td style="padding-left: 10px;">{{exam.4}}</td>
            </tr>
            <tr>
              <td>Total Time: </td>
              <td style="padding-left: 10px;">{{exam.5}}</td>
            </tr>
            <tr>
              <td>Due on </td>
              <td style="padding-left: 10px;">{{exam.6}}</td>
            </tr>
            <tr>
              <td>Instructions: </td>
              <td style="color:red;font-weight: bolder;padding-left: 10px;">{{exam.2}}</td>
            </tr>
          </table>
          {% if exam.6 <= datetime%} <button class="btn btn-primary py-3 px-5 btn-pill">
            <a href='/test/{{ exam_id }}'>
              <span style="color: BLACK">Start Test</span>
            </a>
            </button>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}