{% extends 'studentIndex.html' %}
{% block content %}
<div class="intro-section" id="home-section">

    <div class="slide-1" style="background-image: url('../static/images/hero_1.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center" style="justify-content: space-around;">
                <div style="text-align: center;" data-aos="fade-up" data-aos-delay="500">
                    <form action="/submitAssignment/{{ assignment.0 }}" method="post" enctype="multipart/form-data"
                        class="form-box">
                        {%csrf_token%}
                        <table style="text-align: left; margin-bottom: 5px;">
                            <tr>
                                <th>Title</th>
                                <th style="padding-left: 10px;">{{ assignment.1 }}</th>
                            </tr>
                            <tr>
                                <th>Max. Size (MB)</th>
                                <th style="padding-left: 10px;">{{ assignment.2 }}</th>
                            </tr>
                            <tr>
                                <th>Max. No. of Attachments</th>
                                <th style="padding-left: 10px;">{{ assignment.3 }}</th>
                            </tr>
                            <tr>
                                <th>Due Date</th>
                                <th style="padding-left: 10px;">{{ assignment.5 }}</th>
                            </tr>
                            {% for i in a %}
                            <tr>
                                <td>Upload File No. {{i}}</td>
                                <td><input type="file" name="file_{{ i }}"></td>
                            </tr>
                            {% endfor %}

                        </table>

                        <div class="form-group" style="align-items: center;margin-top: 20px">
                            <input type="submit" class="btn btn-primary btn-pill" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}